@model Inventapp.Models.entradaEnt
@{
    ViewBag.Title = "BuscarEntrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entrada de producto</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }

        input[type=text], select {
            width: 150px;
        }
    </style>
</head>
<body>

    <h2>BuscarEntrada</h2>

    @using (Html.BeginForm("BuscarEntrada", "Entrada", FormMethod.Post))
    {


        <table class="table">
            <tr>
                <th colspan="2" align="center">Buscar por Lote</th>
            </tr>
            <tr>
                <td>Lote: </td>
                <td>

                    @Html.TextBoxFor(m => m.lote)
                    @Html.ValidationMessageFor(m => m.lote, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <p></p>
        <input type="submit" value="Buscar" />
        <p></p>
    }

    @if (ViewBag.entradas != null)
    {
        <table class="table">
            <tr>

                <th>
                    @Html.Label("ID")
                </th>
                <th>
                    @Html.Label("Nombre")
                </th>
                <th>
                    @Html.Label("Cantidad")
                </th>
                <th>
                    @Html.Label("Ingreso")
                </th>
                <th>
                    @Html.Label("Modificar")
                </th>

            </tr>



            @foreach (var item in ViewBag.entradas)
            {
                <tr>
                    <td>
                        @item.producto
                    </td>
                    <td>
                        @item.productoN
                    </td>
                    <td>
                        @item.cantidad
                    </td>
                    <td>
                        @item.fingreso
                    </td>

                    <td>
                        <input type="button" value="Modificar" onclick="location.href='@Url.Action("Actualizar", "Entrada",item)'" />
                    </td>
                </tr>
            }

        </table>
    }

    <p></p>
    <div>
        @Html.ActionLink("Regresar", "Index", "Entrada")
    </div>

</body>

</html>